@font-face {
  font-family: "iconfont"; /* Project id 3837664 */
  src: url('iconfont.woff2?t=1671801159846') format('woff2'),
       url('iconfont.woff?t=1671801159846') format('woff'),
       url('iconfont.ttf?t=1671801159846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e615";
}

.icon-che:before {
  content: "\e60b";
}

